<div class="py-5">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <div class="mx-auto sm:px-6 lg:px-8 mb-6">
      <h2 class="mx-4 pb-6 text-3xl font-bold text-gray-800">
          Categorías
      </h2>
      <div class="border-t-4 border-t-indigo-500 -mt-4 ml-5 w-36"></div>
  </div>
  <div class="mx-auto sm:px-6 lg:px-8">
      <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4 dark:bg-gray-800/50 dark:bg-gradient-to-bl">
        <div class="flex items-center justify-between dark:text-gray-400">
            <!--Boton nuevo   -->
            <div class="space-x-8 mb-2">
                <button type="button" (click)="openModal()" type="button"  class="bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer" >
                    <i class="fa-solid fa-plus"></i> Nuevo
                </button>
            </div>
        </div>
        <!--Tabla lista de items   -->
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="w-full divide-y divide-gray-200 table-auto">
              <thead class="bg-indigo-500 text-white">
                <tr class="text-left text-xs font-bold  uppercase">
                  <td scope="col" class="px-6 py-3">ID</td>
                  <td scope="col" class="px-6 py-3">Nombre</td>
                  <td scope="col" class="px-6 py-3">Fecha inicio</td>
                  <td scope="col" class="px-6 py-3">Fecha fin</td>
                  <td scope="col" class="px-6 py-3 text-center">Opciones</td>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 dark:text-gray-400">
                @for (category of categories(); track $index) {
                <tr class="text-sm font-medium text-gray-900">
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-indigo-500 text-white">
                      {{category.id}}
                    </span>
                  </td>
                  <td class="px-6 py-4 dark:text-gray-400">{{category.name}}</td>
                  <td class="px-6 py-4 dark:text-gray-400">{{category.slug}}</td>
                  <td class="px-6 py-4 dark:text-gray-400">{{category.created_at | date}}</td>
                  <td class="px-6 py-4 text-right">
                    <button  (click)="category.id && loadCategory(category)" class="bg-blue-800 w-8 h-8 rounded-full hover:bg-blue-400">
                        <i class="fas fa-edit text-white"></i>
                    </button>
                    <button (click)="category.id && deleteCategory(category.id)" class="bg-red-600 w-8 h-8 rounded-full hover:bg-red-400 ml-2">
                        <i class="fas fa-trash text-white"></i>
                    </button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
        </div>
        <div class="px-6 py-3">
        </div>
      </div>
  </div>
</div>
<app-modal [isOpen]="isModalOpen" (closeModal)="closeModal()">
  <app-category-create (onCloseModal)="closeModal()" [data]="category"></app-category-create>
</app-modal>
